@charset "utf-8";
@font-face {
    font-family: "Poppins-Regular";
    src: url("//static.s-sfr.fr/assets/fonts/Poppins-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Light";
    src: url("//static.s-sfr.fr/assets/fonts/Poppins-Light.woff2")format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("//static.s-sfr.fr/assets/fonts/Poppins-Bold.woff2")format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Black";
    src: url("//static.s-sfr.fr/assets/fonts/Poppins-Black.woff2")format("woff2");
    font-display: swap;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
summary {
    display: block
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Poppins-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #181818;
    background-color: #EEF0F1;
}

body.no-scroll {
    overflow: hidden;
}

h2 {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
}

h3 {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

h4 {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

p {
    margin: 0 0 16px 0;
}

li {
    list-style: none;
}

strong {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #181818;
}

a.sr-link {
    text-decoration: underline;
}

footer {
    margin-top: 0 !important;
}

.page :focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

.mandatory-fields {
    font-size: 13px;
    line-height: 17px;
    font-style: italic;
}

.sr-margin-r-16 {
    margin-right: 16px !important;
}

.input_text input {
    font-family: "Poppins-Regular", sans-serif;
    width: 480px;
    height: 40px;
    margin-bottom: 16px;
    margin-top: 8px;
    background: #FFF;
    padding: 0 10px;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #222;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    -webkit-appearance: none;
}

.sr-size-100pc {
    width: 100% !important;
}

.sr-input-password-sh {
    position: relative;
}

.sr-icon-eye {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    background: url(https://static.s-sfr.fr/assets/pictos/masquer_40_noir.svg) 50% no-repeat;
    background-size: 20px;
    top: -6px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    border: 0;
}

.sr-icon-eye.sr-icon-eye-slash {
    background-image: url(https://static.s-sfr.fr/assets/pictos/afficher_40_noir.svg);
}

.sr-float-right {
    float: right;
}

.sr-icon-chevron-r {
    background: none;
    position: relative;
    border: 0;
    cursor: pointer;
    display: inline-block;
    color: #D90D25;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 14px;
    font-weight: 700 !important;
    padding-right: 13px;
    /* white-space: nowrap; */
}

.sr-icon-chevron-r:after {
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    transition: ease .2s;
    background: url(https://static.s-sfr.fr/assets/pictos/chevron_droite_40_rouge.svg) 0 0 no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-top: 2px;
    vertical-align: middle;
}

.sr-icon-chevron-r:hover:after {
    transform: translateX(4px);
}

.sr-mire-wrapper {
    max-width: 2560px;
    margin: 0 auto;
}

.sr-mire-container {
    position: relative;
    z-index: 0;
    overflow: hidden;
    min-height: calc(100vh - 112px);
    display: flex;
}

.bg-editable {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-editable img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sr-mire-content {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1312px;
    margin: 0 auto;
    padding: 40px 16px;
    height: 100%;
    max-width: 100%;
}

.sr-login-search {
    position: relative;
    width: 510px;
    width: 40%;
}

.sr-login-search-bloc {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    margin-bottom: 24px;
    position: relative;
}

.sr-fishing-link {
    background: url(https://static.s-sfr.fr/assets/pictos/cybersecurity_40_rouge.svg) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: 16px;
    background-size: 16px;
    text-indent: -99999px;
}

.sr-mire-notes {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 600;
}

.sr-login-content .input-line {
    margin-bottom: 6px;
    position: relative;
}

.sr-login-content .input-line label {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: bold;
}

.sr-login-content .label-style {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
}

/* .captcha-wrapper {display: flex;align-items: center;} */

.captcha-wrapper .checkbox {
    padding-right: 14px;
}

.checkbox-input {
    position: absolute;
    position: relative \9;
    opacity: 0;
    opacity: 1 \9;
    margin: 4px 0 \9;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.checkbox label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.checkbox-item {
    height: 20px;
    width: 20px;
    background: #DFDFDF;
    position: absolute;
    left: 0;
    display: block;
    vertical-align: middle;
    top: 1px;
    cursor: pointer;
    border-radius: 4px;
}

.checkbox-input:checked~.checkbox-label .checkbox-item {
    background: #02C39A;
}

.checkbox-input:checked~.checkbox-label .checkbox-item:after,
.checkbox-input:checked~.checkbox-label .checkbox-item:before {
    content: "";
    width: 2.5px;
    height: 12px;
    background: #fff;
    position: absolute;
    right: 7px;
    margin-top: 0;
    top: 4px;
}

.checkbox-input:checked~.checkbox-label .checkbox-item:before {
    transform: rotate( 32deg);
}

.checkbox-input:checked~.checkbox-label .checkbox-item:after {
    transform: rotate( -39deg);
    right: 11px;
    height: 8px;
    margin-top: 4px;
}

.checkbox-input:focus-visible~.checkbox-label .checkbox-item {
    outline: -webkit-focus-ring-color auto 1px;
}

.sr-message-error {
    font-size: 13px;
    color: #D90D25 !important;
    clear: both;
    position: relative;
    padding-left: 20px;
    overflow: hidden;
}

.sr-message-error:before {
    content: "";
    background: url(https://static.s-sfr.fr/assets/pictos/croix_40_rouge.svg) 0 0 no-repeat;
    background-size: 15px;
    position: absolute;
    left: 0;
    top: 3px;
    width: 37px;
    height: 27px;
}

.sr-message-error a {
    color: #D90D25 !important;
    text-decoration: underline;
}

.sr-but-wrapper {
    margin-top: 16px;
}

.sr-but-main {
    font-family: "Poppins-Regular", sans-serif;
    background: #D90D25;
    border: 1px solid #D90D25;
    color: #fff;
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    vertical-align: bottom;
    border-radius: 8px;
    line-height: 20px;
    max-width: 100%;
    padding: 0 25px;
    height: 40px;
    box-shadow: 0 4px 8px rgb(150 0 0 / 16%);
}

.sr-full-wd-sfr {
    width: 100% !important;
}

.another-account {
    margin-top: 16px;
}

.sr-mire-links {
    background: #F7F7F7;
    border-radius: 8px;
    padding: 24px;
    text-align: right;
    margin-top: 16px;
}

.sr-mire-links li {
    margin-bottom: 4px;
}

.sr-mire-links li:last-child {
    margin-bottom: 0;
}

.sr-mire-links .sr-icon-chevron-r:after {
    background: url(https://static.s-sfr.fr/assets/pictos/chevron_droite_40_rouge.svg) 0 0 no-repeat;
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-top: 2px;
    background-size: 17px;
}

.sr-login-alert {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding-left: 56px;
}

.sr-login-alert h5 {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}

.sr-icon-alert {
    background: url(https://static.s-sfr.fr/assets/pictos/alerte_40_orange.svg) 0 0 no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 24px;
}

.sr-icon-aide {
    background: url(https://static.s-sfr.fr/assets/pictos/aide_40_noir.svg) 0 0 no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 24px;
}

.sr-icon-sfr {
    background: url(https://static.s-sfr.fr/assets/pictos/boutique_sfr_40_rouge.svg) 0 50% no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 24px;
}

.sr-login-alert p {
    margin: 0;
}

.sr-login-alert-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.style-second-block {
    font-family: "Poppins-Regular", sans-serif !important;
    width: 100% !important;
    padding-left: 80px !important;
    border: 0 !important;
    border-radius: 8px !important;
    padding: 24px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
    margin-bottom: 24px;
    height: auto !important;
    background: #fff;
}

.sr-mire-content .style-second-block .second-block-text,
.sr-mire-content .style-second-block#block-teleconseiller .second-block-text,
.sr-mire-content .style-second-block#block-acte-urgence-v2 .second-block-text {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.sr-mire-content .style-second-block#block-email .second-block-text {
    display: block;
}

.style-second-block#block-acte-urgence-v2 {
    background: #fff url(https://static.s-sfr.fr/assets/pictos/alerte_40_orange.svg) 24px 50% no-repeat !important;
    padding-left: 80px !important;
}

.style-second-block#block-acte-urgence-v2 .second-block-text {
    padding: 0 !important;
}

.style-second-block h3,
.style-second-block h5,
.style-second-block#block-acte-urgence-v2 .second-block-text>h5,
.second-block-text>h5,
.style-second-block#block-acte-urgence-v2 .second-block-text>h3,
.second-block-text>h3 {
    font-family: "Poppins-Bold", sans-serif !important;
    font-weight: 700 !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 22px !important;
}

.style-second-block#block-acte-urgence-v2 .second-block-text>a,
.second-block-text .really-light-link {
    background: none !important;
    position: relative !important;
    border: 0 !important;
    text-align: left !important;
    cursor: pointer !important;
    display: inline-block !important;
    color: #D90D25 !important;
    font-family: "Poppins-Bold", sans-serif !important;
    font-weight: 700 !important;
    padding-right: 13px !important;
    padding-left: 0 !important;
    height: auto !important;
    font-size: 14px !important;
    line-height: 22px !important;
    white-space: nowrap;
}

.style-second-block#block-acte-urgence-v2 .second-block-text>a:after,
.second-block-text .really-light-link:after {
    content: "";
    position: absolute;
    display: inline-block;
    transition: ease .2s;
    background: url(https://static.s-sfr.fr/assets/pictos/chevron_droite_40_rouge.svg) 0 0 no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-top: 2px;
}

.style-second-block#block-acte-urgence-v2 .second-block-text>a:hover,
.second-block-text .really-light-link:hover {
    text-decoration: none !important;
}

.style-second-block#block-acte-urgence-v2 .second-block-text>a:hover:after,
.second-block-text .really-light-link:hover:after {
    transform: translateX(4px);
}

.style-second-block#block-email {
    background-image: url(https://static.s-sfr.fr/assets/pictos/mail_40_noir.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 22px 50% !important;
}

.style-second-block#block-numericable {
    background-image: url(//static.s-sfr.fr/media/logo-nemericable.jpg);
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: 13px 50% !important;
    background-size: 53px !important;
    height: auto;
}

.style-second-block#block-email,
.style-second-block#block-numericable {
    font-size: 14px !important;
}

#block-aol {
    padding-left: 24px !important;
    background: #fff !important;
    font-family: "Poppins-Regular", sans-serif !important;
    color: #181818 !important;
    text-align: left !important;
    font-size: 12px;
}

#block-aol>a,
#block-aol>a:hover,
#block-aol>a:visited {
    text-decoration: underline;
    font-family: "Poppins-Regular", sans-serif !important;
    color: #181818 !important;
}

.style-second-block#block-numericable .second-block-text>a {
    color: #181818 !important;
    text-decoration: underline !important;
}

.second-block-text .really-light-link .edito-mire-chevron {
    display: none;
}

.second-block-text .really-light-link .style-second-block-desktop {
    padding-left: 0 !important;
}

.style-second-block#block-forum {
    padding-left: 80px !important;
    background: #fff url(https://static.s-sfr.fr/assets/pictos/boutique_sfr_40_rouge.svg) 18px 50% no-repeat !important;
}

/* RIGHT BLOC */

.sr-mire-app {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(226, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34.37%;
    min-width: 606px;
    backdrop-filter: blur(2px);
}

.sr-mire-app-in {
    display: flex;
    position: absolute;
    left: -80px;
    top: 40px;
    align-items: center;
}

#editoImage {
    width: 100%;
    height: auto;
    padding-left: 14px;
}

.sr-qr-wrapper {
    padding: 0 0 0 29px;
    max-width: 355px;
}

.sr-qr-code {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.sr-qr-img img {
    display: block;
}

.sr-qr-text {
    padding-left: 16px;
    max-width: 190px;
}

.sr-qr-text span {
    font-family: "Poppins-Bold", sans-serif;
}

.sr-phone-wrapper img {
    height: auto;
}

.sr-download-app-section {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-top: 24px;
    gap: 16px;
}

.sr-download-app-section a {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
}

.sr-mire-wrapper .sr-download-app-section img {
    height: 38px;
    width: auto;
}

.download-app-button {
    background: #222222;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 2px 9px 2px 6px;
    height: 38px;
    text-wrap: nowrap;
}

.btn-app-text {
    padding-left: 7px;
    padding-top: 4px;
}

.download-app-button.googlePlay .line-1 {
    font-size: 8px;
    line-height: 6px;
}

.download-app-button.applePay .line-1 {
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 0.5px;
}

.btn-app-text .line-1 {
    font-weight: 700;
    display: block;
}

.btn-app-text .line-2 {
    font-weight: 700;
}

.sr-download-app-section .download-app-button.applePay img {
    width: 24px;
    height: 24px;
}

.sr-download-app-section .download-app-button.googlePlay img {
    width: 29px;
    height: 29px;
}

/* POPIN */

.sr-popin {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 100000;
    background: rgba(0, 0, 0, .7);
    overflow-y: auto;
}

.sr-popin-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.sr-popin-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 50px;
    overflow-y: auto;
    display: table-cell;
    vertical-align: middle;
}

.sr-popin-content-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 0 48px 24px 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgb(24 24 24 / 8%);
    border-radius: 12px;
}

.sr-popin-closer {
    right: 16px;
    top: 14px !important;
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(https://static.s-sfr.fr/assets/pictos/fermer_plein_40_noir.svg) 50% 50% no-repeat;
    cursor: pointer;
    border: 0;
}

.sr-popin-title {
    margin: 0 -40px 0;
    padding: 30px 40px 0;
    text-align: left;
}

.sr-popin-content-inside {
    padding-top: 24px;
}

/* FIN POPIN */

.sr-mire-wrapper~footer {
    margin-top: 0 !important;
}

/* MIRE LAYER */

#mire-layer .sr-mire-container {
    min-height: auto;
}

#mire-layer .sr-mire-content {
    width: 510px;
    padding: 16px;
}

/* FIN MIRE LAYER */

/* MIRE WEBMAIL */

.mire-webmail .sr-mire-container {
    align-items: flex-start;
}

.mire-webmail .sr-mire-container:before {
    content: "";
    background: rgba(226, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 30%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.mire-webmail .bg-editable {
    width: auto;
    right: 0;
}

.mire-webmail .bg-editable:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to right, rgba(238, 240, 241, 1) 0%, rgba(238, 240, 241, 0.5) 50%, rgba(238, 240, 241, 0.5) 30%, rgba(238, 240, 241, 0) 100%);
}

.mire-webmail .sr-login-search {
    width: calc(40% + 40px);
    padding-right: 40px;
}

.sr-mea-app {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.sr-mea {
    color: #fff;
    width: calc(60% - 40px);
    padding: 40px;
}

.sr-mea img {
    max-width: 100%;
    height: auto;
}

/* SMARTBANNER */

#mire-layer #smartbanner {
    display: none;
}

#smartbanner {
    background: #F2F2F2;
    width: 100%;
    min-height: 56px;
    display: none;
    align-items: center;
    padding: 8px 16px;
    box-sizing: border-box;
}

#smartbanner .sb_close {
    background: url(https://static.s-sfr.fr/assets/pictos/fermer_plein_40_noir.svg) 50% 50% no-repeat;
    background-size: 27px;
    border: 0;
    font-size: 0;
    width: 27px;
    height: 27px;
    margin-right: 8px;
    cursor: pointer;
}

#smartbanner .sb_logo {
    margin-right: 8px;
}

#smartbanner .sb_logo img {
    display: block;
}

#smartbanner .sb_title {
    display: block;
}

#smartbanner .sb_subtitle {
    display: block;
    color: #6E6E73;
}

#smartbanner .sr-but-main {
    text-decoration: none;
    line-height: 39px;
    margin-left: auto;
}

.mtcaptcha {
    max-width: 350px;
    margin: 0 auto;
}

@media all and (min-width: 1025px) {
    .rmobile {
        display: none !important;
    }
    .style-second-block .second-block-text .really-light-link {
        font-size: 14px !important;
    }
}

@media all and (max-width: 1199px) {
    .sr-margin-search-page-passe,
    .sr-mire-app {
        width: 470px;
        min-width: auto;
    }
    .sr-mire-app-in {
        left: -45px;
    }
    .sr-qr-wrapper {
        padding: 16px 24px;
    }
    .sr-qr-wrapper h2 {
        font-size: 30px;
        line-height: 38px;
    }
    .captcha-wrapper {
        display: block;
    }
    .g-recaptcha {
        margin-top: 16px;
    }
}

@media all and (max-width:1024px) {
    #smartbanner {
        display: flex;
    }
    .sr-mire-content .style-second-block .second-block-text,
    .sr-mire-content .style-second-block#block-teleconseiller .second-block-text,
    .sr-mire-content .style-second-block#block-email .second-block-text,
    .sr-mire-content .style-second-block#block-acte-urgence-v2 .second-block-text {
        flex-direction: column;
        text-align: center;
    }
    .style-second-block#block-acte-urgence-v2 {
        background: #fff url(https://static.s-sfr.fr/assets/pictos/alerte_40_orange.svg) 50% 16px no-repeat !important;
        padding: 72px 16px 16px 16px !important;
    }
    .sr-login-alert {
        padding-left: 0;
        padding-top: 56px;
    }
    .sr-icon-alert,
    .sr-icon-aide,
    .sr-icon-sfr {
        left: 0;
        right: 0;
        top: 16px;
        margin: auto;
    }
    .sr-login-alert-text {
        text-align: center;
        flex-direction: column;
        gap: 16px;
    }
    .sr-mea {
        display: none;
    }
    .sr-mire-content:before,
    .mire-webmail .sr-mire-container:before {
        content: none;
    }
    .mire-webmail .sr-login-search {
        width: 100%;
        padding-right: 0;
    }
    .sr-mire-app {
        display: none;
    }
    .sr-mire-content {
        flex-direction: column;
        align-items: center;
    }
    .sr-mire-container {
        height: auto;
    }
    .sr-mire-content:before {
        content: "";
        background: rgba(226, 0, 0, 0.8);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        backdrop-filter: blur(2px);
    }
    .sr-login-search {
        max-width: 486px;
        width: 100%;
    }
    .sr-login-search-bloc {
        padding: 16px;
    }
    .sr-login-search h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }
    .sr-but-wrapper {
        margin-top: 16px;
    }
    .sr-login-content .input-line {
        margin-bottom: 0;
    }
    .g-recaptcha {
        transform: scale(0.98);
        -webkit-transform: scale(0.98);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    #mire-layer .sr-mire-content:before {
        content: none;
    }
    .rweb {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .sr-login-search {
        max-width: 328px;
    }
    .sr-mire-links {
        padding: 16px;
    }
    .sr-popin-wrapper,
    .sr-popin-content {
        display: block;
    }
    .sr-popin-content {
        padding: 0;
    }
    .sr-popin-title {
        margin: 0 -16px 0;
        padding: 20px 16px;
    }
}